:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #e91e13;
  text-decoration: none;
}
a:hover, a:active {
  color: #222222;
}

.container {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  background: #4e4e4e;
  position: fixed;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  z-index: 2;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  max-width: 960px;
  margin: 0 auto;
  font-size: 2rem;
}
.nav__link {
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.nav__links-item {
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.nav__links-item:nth-child(1) {
  margin: 50px;
}
.nav__links-item:nth-child(2) {
  margin-right: 50px;
}
.nav__links-item:last-child {
  color: currentColor;
  cursor: not-allowed;
}

.header {
  position: relative;
  height: 100vh;
  background-image: url("../images/entrepreneur.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
  z-index: 1;
}
.header__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: -1;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
}
.header__heading {
  margin: 0;
  padding: 0;
  font-size: 3.6rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 5px 5px 5px #000;
}
.header__text {
  margin: 50px 0;
  font-size: 2rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px black;
}
.header__image-author {
  max-width: 960px;
  margin: 0 auto;
  margin-top: -30px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
}
.header__link-to-author {
  margin: 0 5px;
  color: #fff;
}
.header__link-to-author:hover {
  color: aquamarine;
}

.about-us {
  padding: 40px 0;
}
.about-us__heading {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 3.6rem;
}
.about-us__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 30px;
}
.about-us__branch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.about-us__branch:nth-child(1) .about-us__image {
  background-image: url("../images/girl.jpg");
}
.about-us__branch:nth-child(2) .about-us__person-heading {
  text-align: right;
}
.about-us__branch:nth-child(2) .about-us__image {
  background-image: url("../images/hoody.jpg");
  order: 2;
}
.about-us__branch:nth-child(3) .about-us__image {
  background-image: url("../images/adult.jpg");
}
.about-us__branch:nth-child(4) .about-us__person-heading {
  text-align: right;
}
.about-us__branch:nth-child(4) .about-us__image {
  background-image: url("../images/man.jpg");
  order: 2;
}
.about-us__image {
  width: 20%;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}
.about-us__person {
  width: 75%;
}
.about-us__person-heading {
  font-size: 2rem;
  font-weight: 700;
}
.about-us__text {
  margin-top: 30px;
  font-size: 1.6rem;
  line-height: 2rem;
}

.offer {
  max-width: 1920px;
  margin: 0 auto;
  height: 93vh;
  background-color: #405d78;
  color: #fff;
}
.offer__heading {
  max-width: 960px;
  margin: 0 auto;
  height: 20%;
  padding: 20px 0;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  font-size: 3.6rem;
}
.offer__wrapper {
  max-width: 1920px;
  margin: 0 auto;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.offer__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.offer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  aspect-ratio: 1/1;
  margin: 35px;
  background-color: #fff;
  transition: transform 0.5s linear;
}
.offer__item:hover {
  transform: scale(1.05);
}
.offer__item:first-child {
  position: relative;
  text-align: center;
}
.offer__item:first-child .item-new-symbol {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: #e91e13;
  border-radius: 50%;
}
.offer__item-heading {
  font-size: 2.4rem;
  color: #222222;
}
.offer__item-heading-new {
  color: #222222;
  font-size: 1.8rem;
}

.footer {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #4e4e4e;
  color: #fff;
  padding: 0 10px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7vh;
  max-width: 960px;
  margin: 0 auto;
}
.footer__heading {
  font-size: 1.8rem;
}
.footer__social-media {
  font-size: 3.6rem;
}
.footer__social-media .fab {
  transition: transform 0.3s;
}
.footer__social-media .fab:hover {
  transform: scale(1.2);
}
.footer__social-media .fab:first-child {
  margin-right: 20px;
}

.header__btn {
  width: 200px;
  padding: 10px 60px;
  border: 3px solid #fff;
  background: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  color: #e91e13;
  letter-spacing: 1px;
  transition: 1s linear;
  cursor: pointer;
}
.header__btn:hover {
  background-color: #fff;
  color: #000;
}

/*# sourceMappingURL=main.css.map */
