.about-us {
  padding: 40px 0;

  &__heading {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3.6rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 30px;
  }

  &__branch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    &:nth-child(1) {
      .about-us__image {
        background-image: url('../images/girl.jpg');
      }
    }

    &:nth-child(2) {
      .about-us__person-heading {
        text-align: right;
      }

      .about-us__image {
        background-image: url('../images/hoody.jpg');
        order: 2;
      }
    }

    &:nth-child(3) {
      .about-us__image {
        background-image: url('../images/adult.jpg');
      }
    }

    &:nth-child(4) {
      .about-us__person-heading {
        text-align: right;
      }

      .about-us__image {
        background-image: url('../images/man.jpg');
        order: 2;
      }
    }
  }

  &__image {
    width: 20%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
  }

  &__person {
    width: 75%;

    &-heading {
      font-size: 2rem;
      font-weight: 700;
    }
  }

  &__text {
    margin-top: 30px;
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.offer {
  @include wrapper(1920px);
  padding: 40px 0;
  background-color: #405d78;
  color: $text-color-light;

  &__wrapper {
    @include wrapper(960px);
  }

  &__heading {
    margin-bottom: 30px;
    font-size: 3.6rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 50px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    aspect-ratio: 1 / 1;
    margin: 30px;
    background-color: #fff;
    transition: transform 0.5s linear;

    &:hover {
      transform: scale(1.05);
    }

    &:first-child {
      position: relative;
      text-align: center;

      .item-new-symbol {
        position: absolute;
        top: -10px;
        left: -10px;
        width: 20px;
        height: 20px;
        background-color: $brand-color;
        border-radius: 50%;
      }
    }

    &-heading {
      font-size: 2.4rem;
      color: $text-color;

      &-new {
        color: $text-color;
        font-size: 1.8rem;
      }
    }
  }
}
