.nav {
  background: #4e4e4e;
  position: fixed;
  @include wrapper(1920px) {
    width: 100%;
  }

  z-index: 2;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    @include wrapper(960px);
    font-size: 2rem;
  }

  &__link {
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__links {
    &-item {
      font-weight: 300;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;

      &:nth-child(1) {
        margin: 50px;
      }

      &:nth-child(2) {
        margin-right: 50px;
      }

      &:last-child {
        color: currentColor;
        cursor: not-allowed;
      }
    }
  }
}
