/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active {
      @content;
    }

  } @else {
    &:hover,
    &:active {
      @content;
    }
  }
}

/// Type text
/// @author Zenon Marek Raubuć
// @param{dimension, dimension, color} $size $weight $color
@mixin type-text($size, $weight,  $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  @content;
}

/// Make a view and content in terminate frame
/// @author Zenon Marek Raubuć
/// @param {dimension} $max-width, $width

@mixin wrapper($max-width) {
  max-width: $max-width;
  margin: 0 auto;
  @content;
}

